# Object files
*.o
*.odbg
*.obj

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Temporaries
*.orig

# Dependencies
*.d

# Mac OS X
*.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Visual Studio
*.idb
*.pdb
*.vcproj
*.vcproj.*.user
BuildLog.htm

# Backup files
*~.nib
\#*#
.#*

